<div class="form-group row">
  <div class="col-md-3">
    <div class="label-wrapper">
      <label class="col-form-label flex-center">Tên bệnh viện</label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="input-group input-group-required">
      <input class="form-control text-box single-line" id="hospital_name" name="hospital_name" type="text" value="<%=hospital.name%>">
      <div class="input-group-btn"><span class="required">*</span></div>
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-3">
    <div class="label-wrapper flex-center">
      <label class="col-form-label">Địa chỉ</label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="input-group input-group-required">
      <input class="form-control text-box single-line" id="hospital_address" name="hospital_address" type="text" value="<%=hospital.address%>">
    </div>
  </div>
</div>
<div class="form-group row">
  <div class="col-md-3">
    <div class="label-wrapper flex-center">
      <label class="col-form-label">Số điện thoại</label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="input-group input-group-required">
      <input class="form-control text-box single-line" id="hospital_phone" name="hospital_phone" type="text" value="<%=hospital.phone%>">
    </div>
  </div>
</div>