<!DOCTYPE html>
<html class="no-js" lang="vi">
<head>
  <meta charset="utf-8">
  <title>Kích hoạt tài khoản - PR IMS</title>
  <meta name="author" content="TUTA">
  <meta name="description" content="PR IMS">
  <meta name="keywords" content="PR IMS">
  <meta name="viewport" content="width=device-width initial-scale=1">
  <link rel="shortcut icon" href="/public/content/images/favicon.ico" type="image/x-icon">
  <link rel="stylesheet" href="/public/content/css/style.min.css">
  <link type="text/css" rel="stylesheet" href="/public/content/css/style2.css"/>
</head>
<body>
  <div class="page page-login">
    <div class="page-main">
      <div class="login">
        <a class="login-logo mx-auto">
          <img class="img-fluid w-100" src="/public/content/images/logo-2.svg" alt="" />
        </a>
        <div id="login-content-page">
          	<div class="login-body mb-5">
                <h3 class="mb-4">Thông báo</h3>
                <p class="mb-4"><%=message%></p>
                <a class="link-primary" href="/user/login">Bấm vào đây để trở lại trang đăng nhập</a>
            </div>
        </div>
        <div class="row gy-4">
          <div class="col-sm-6">
            <h5 class="flex-center-y fs-16px mb-2 pb-1">
              <svg class="iconsvg-location-pin text-success me-1">
                <use xlink:href="/public/content/images/sprite.svg#location-pin"></use>
              </svg>Địa chỉ
            </h5>
            <p class="footer-address mb-0">Level 20, Center Building, Hapulico Complex, No.1 Nguyen Huy Tuong Street, Thanh Xuan District, Hanoi</p>
          </div>
          <div class="col-sm-6">
            <h5 class="flex-center-y fs-16px mb-2 pb-1">
              <svg class="iconsvg-contact-support text-success me-1">
                <use xlink:href="/public/content/images/sprite.svg#contact-support"></use>
              </svg>Hỗ trợ
            </h5>
            <p class="mb-0">Email: <a href="mailto:contact@admicro.vn">contact@admicro.vn</a>
              <br>Hotline: <a href="tel:02473077979">(024) 7307 7979</a> | Fax: <a href="tel:02473077980">(024) 7307 7980</a>
            </p>
          </div>
        </div>
        <hr class="my-4">
        <div class="row gy-4 pt-3">
          <div class="col-6">
            <a class="flex-center-y fw-bold" href="#">
              <span class="symbol bg-yellow me-3">
                <svg class="iconsvg-phone">
                  <use xlink:href="/public/content/images/sprite.svg#phone"></use>
                </svg>
              </span>Liên hệ
            </a>
          </div>
          <div class="col-6">
            <a class="flex-center-y fw-bold" href="/bao-gia">
              <span class="symbol bg-green me-3">
                <svg class="iconsvg-file">
                  <use xlink:href="/public/content/images/sprite.svg#file"></use>
                </svg>
              </span>Báo giá
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
</html>