
<div class="row g-2 justify-content-center mt-0">
    <div class="col-6 col-md-auto">
        <button class="btn btn-primary box-btn w-100 text-uppercase" type="button" onclick="importExcelFile()">
          <svg class="iconsvg-send-2 flex-shrink-0 fs-16px me-2">
            <use xlink:href="/public/content/images/sprite.svg#download"></use>
          </svg>Import Excel
        </button>
    </div>
    <input accept=".xls,.xlsx" type="file" id="file_input_excel" style="width: 0px;height: 0px;overflow: hidden;" onchange="getFileExcel()"/>
</div>