<form id="kham_form" class="form-horizontal">
    <h3 class="box-title-break">Thông tin chung</h3>
    <div class="row g-2 align-items-center">
        <div class="col-12 col-md-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_name">Họ và tên
                <span class="text-danger">*</span>
            </label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_name" class="form-control form-control-title" id="cus_name" placeholder="Họ và tên">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_name')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_phone">Phone
                <!-- <span class="text-danger">*</span> -->
            </label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_phone" class="form-control form-control-title" id="cus_phone" placeholder="Tìm kiếm theo số điện thoại">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_phone')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
	<div class="row g-2 align-items-center">
        <div class="col-12 col-md-2 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_gender">Giới tính
                <!-- <span class="text-danger">*</span> -->
            </label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <select class="form-select" name="cus_gender" id="cus_gender" data-plugin="select2" data-placeholder="Giới tính" data-minimum-results-for-search="Infinity">
                        <option></option>
                        <option value="1">Nam</option>
                        <option value="0">Nữ</option>
                        <option value="0">Khác</option>
                      </select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 d-flex">
            <div class="d-flex me-2">
                <label class="col-form-label col-md-auto fw-bold mt-2 me-2" for="cus_birthday">Ngày sinh
                    <span class="text-danger">*</span>
                </label>
                <div class="col-form-body col-md">
                    <div class="form-control-has-addon">
                        <input type="text" name="cus_birthday" class="form-control form-control-title p-1" id="cus_birthday" placeholder="Ngày sinh">
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <label class="col-md-auto fw-bold mt-2 me-2" for="cus_age">Tuổi
                    <!-- <span class="text-danger">*</span> -->
                </label>
                <div class="col-form-body col-md">
                    <div class="form-control-has-addon">
                        <input type="number" name="cus_age" class="form-control form-control-title p-1" id="cus_age" placeholder="Tuổi">
                        <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_age')">
                            <svg class="iconsvg-close">
                                <use xlink:href="/public/content/images/sprite.svg#close"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_email">Email
                <!-- <span class="text-danger">*</span> -->
            </label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_email" class="form-control form-control-title" id="cus_email" placeholder="Email">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_email')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
	</div>
	<div class="row g-2 align-items-center">
	  <label class="col-form-label col-md-auto fw-bold" for="cus_address">Địa chỉ
		<!-- <span class="text-danger">*</span> -->
	  </label>
	  <div class="col-form-body col-md">
        <div class="form-control-has-addon">
            <textarea class="form-control" id="cus_address" placeholder="Nhập địa chỉ" name="cus_address"></textarea>
            <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_address')">
                <svg class="iconsvg-close">
                <use xlink:href="/public/content/images/sprite.svg#close"></use>
                </svg>
            </button>
        </div>
	  </div>
	</div>
    <div class="row g-2 align-items-center">
        <label class="col-form-label col-md-auto fw-bold" for="diagnostic">Chuẩn đoán
          <!-- <span class="text-danger">*</span> -->
        </label>
        <div class="col-form-body col-md">
          <div class="form-control-has-addon">
              <textarea class="form-control" id="diagnostic" name="diagnostic" placeholder="Nhập chuẩn đoán"></textarea>
              <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#diagnostic')">
                  <svg class="iconsvg-close">
                  <use xlink:href="/public/content/images/sprite.svg#close"></use>
                  </svg>
              </button>
          </div>
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-6 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_length">Cao (m)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_length" class="form-control form-control-title" id="cus_length" placeholder="Chiều cao">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_length')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_cntc">CNTC (kg)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_cntc" class="form-control form-control-title" id="cus_cntc" placeholder="CNTC (kg)">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_cntc')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_cnht">CNHT (kg)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_cnht" class="form-control form-control-title" id="cus_cnht" placeholder="CNHT (kg)">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_cnht')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_bmi">BMI</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_bmi" class="form-control form-control-title" id="cus_bmi" placeholder="BMI">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_bmi')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <h3 class="box-title-break">Khám lâm sàng</h3>
    <div class="row">
        <div class="col-form-body col-md">
            <div class="form-control-has-addon">
                <textarea class="form-control" id="clinical_examination" placeholder="Thông tin khám lâm sàng" name="clinical_examination"></textarea>
                <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#clinical_examination')">
                    <svg class="iconsvg-close">
                    <use xlink:href="/public/content/images/sprite.svg#close"></use>
                    </svg>
                </button>
            </div>
          </div>
    </div>
    <h3 class="box-title-break">Kết quả xét nghiệm</h3>
    <div class="row g-2 align-items-center">
        <div class="col-4 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2 form-label-large" for="erythrocytes">Hồng cầu (T/L)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="erythrocytes" class="form-control form-control-title" id="erythrocytes" placeholder="Hồng cầu">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#erythrocytes')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_bc">BC (G/L)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_bc" class="form-control form-control-title" id="cus_bc" placeholder="BC (G/L)">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_bc')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_tc">TC (T/L)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_tc" class="form-control form-control-title" id="cus_tc" placeholder="TC (T/L)">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_tc')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2 form-label-large" for="cus_albumin">Albumin (G/L)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_albumin" class="form-control form-control-title" id="cus_albumin" placeholder="Albumin (G/L)">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_albumin')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_nakcl">Na+/K+/Cl-</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_nakcl" class="form-control form-control-title" id="cus_nakcl" placeholder="Na+/K+/Cl-">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_nakcl')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2 form-label-large" for="cus_astaltggt">AST/ALT/GGT (U/L)</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_astaltggt" class="form-control form-control-title" id="cus_astaltggt" placeholder="AST/ALT/GGT">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_astaltggt')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="cus_urecreatinin">Ure/Creatinin</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_urecreatinin" class="form-control form-control-title" id="cus_urecreatinin" placeholder="Ure/Creatinin">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_urecreatinin')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-6 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2 form-label-large" for="cus_bilirubin">Bilirubin TP/TT</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" name="cus_bilirubin" class="form-control form-control-title" id="cus_bilirubin" placeholder="Bilirubin TP/TT">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#cus_bilirubin')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-form-body col-md">
            <div class="form-control-has-addon">
                <textarea class="form-control" id="exa_note" placeholder="Ghi chú" name="exa_note"></textarea>
                <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#exa_note')">
                    <svg class="iconsvg-close">
                    <use xlink:href="/public/content/images/sprite.svg#close"></use>
                    </svg>
                </button>
            </div>
          </div>
    </div>
    <div class="row g-2 justify-content-center mt-0">
        <div class="col-6 col-md-auto">
          <button class="btn btn-primary box-btn w-100 text-uppercase" type="button" onclick="saveExamine()">
            <svg class="iconsvg-send-2 flex-shrink-0 fs-16px me-2">
              <use xlink:href="/public/content/images/sprite.svg#save"></use>
            </svg>Lưu
          </button>
        </div>
        <div class="col-6 col-md-auto">
          <button class="btn btn-cancel box-btn w-100 text-uppercase" type="button" onclick="returnList()">
            <svg class="iconsvg-close flex-shrink-0 fs-16px me-2">
            <use xlink:href="/public/content/images/sprite.svg#close"></use>
            </svg>Huỷ
          </button>
        </div>
    </div>
</form>