<form id="thucdonmau_form" class="form-horizontal">
    <h3 class="box-title-break">Thực đơn mẫu</h3>
    <div class="row g-2 align-items-center">
        <div class="col-12 col-md-5 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="menu_id">Chọn menu</label>
            <div class="col-form-body col-md">
                <div class="input-group">
                    <div style="flex-grow:1;">
                        <select class="form-select" id="menu_id" data-plugin="select2" data-placeholder="Chọn menu" style="width: 90%;">
                    
                        </select>
                    </div>
                    <button class="btn btn-primary" type="button" onclick="addMenu()">Thêm</button>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="menuTime_id">Chọn giờ ăn</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <select class="form-select" id="menuTime_id" data-plugin="select2" data-placeholder="Chọn giờ ăn">
                        <option></option>
                        <% if(menuTime.length > 0){ %>
                            <% for (let mt of menuTime){ %>
                                <option value="<%= mt.id %>"><%= mt.name %></option>
                            <%}%>   
                        <%}%>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="course">Tên món</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" class="form-control form-control-title" id="course" placeholder="Tên món">
                    <button class="btn form-control-addon btn-link p-0 min-h-auto" type="button" onclick="clearInput('#course')">
                        <svg class="iconsvg-close">
                            <use xlink:href="/public/content/images/sprite.svg#close"></use>
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-12 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="food_name">Thực phẩm</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <select class="form-select" id="food_name" data-plugin="select2" data-placeholder="Chọn thực phẩm">
                        
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="weight_food">Khối lượng</label>
            <div class="col-form-body col-md">
              <div class="input-group">
                <input type="number" class="form-control form-control-title p-1" id="weight_food" placeholder="Khối lượng">
                <button class="btn btn-primary" type="button" onclick="addFoodToMenu()">Thêm</button>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="energy_food">Energy</label>
            <div class="col-form-body col-md">
              <div class="form-control-has-addon">
                <input type="text" class="form-control form-control-title p-1" id="energy_food" placeholder="Energy" readonly>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="protein_food">Protein</label>
            <div class="col-form-body col-md">
              <div class="form-control-has-addon">
                <input type="text" class="form-control form-control-title p-1" id="protein_food" placeholder="Protein" readonly>
              </div>
            </div>
        </div>
    </div>
    <div class="row g-2 align-items-center">
        <div class="col-12 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="animal_protein">Animal Protein</label>
            <div class="col-form-body col-md">
                <div class="form-control-has-addon">
                    <input type="text" class="form-control form-control-title p-1" id="animal_protein" placeholder="Animal Protein" readonly>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="lipid_food">Lipid</label>
            <div class="col-form-body col-md">
              <div class="form-control-has-addon">
                <input type="text" class="form-control form-control-title p-1" id="lipid_food" placeholder="Lipid" readonly>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="unanimal_lipid">Unanimal Lipid</label>
            <div class="col-form-body col-md">
              <div class="form-control-has-addon">
                <input type="text" class="form-control form-control-title p-1" id="unanimal_lipid" placeholder="Unanimal Lipid" readonly>
              </div>
            </div>
        </div>
        <div class="col-12 col-md-3 d-flex">
            <label class="col-form-label col-md-auto fw-bold mt-2" for="carbohydrate">Carbohydrate</label>
            <div class="col-form-body col-md">
              <div class="form-control-has-addon">
                <input type="number" class="form-control form-control-title p-1" id="carbohydrate" placeholder="Carbohydrate" readonly>
              </div>
            </div>
        </div>
    </div>
    <div class="row g-2 align-items-center">
      <div class="table-responsive-xl table-responsive-flush mb-4" id="tb_menu" style="width: 100%;">
        <div class="table-responsive-inner"></div>
        <table class="table-2 table table-pe-x-3 mb-0 align-middle table-ds-booking table-bordered table-hover">
            <thead class="text-center">
                <tr>
                    <td rowspan="2"> 
                        <span>Giờ ăn</span>
                    </td>
                    <td colspan="9">
                        <span id="name_menu"></span>
                    </td>
                </tr>
                <tr>
                    <td>Thực phẩm</td>
                    <td>Weight(g)</td>
                    <td>Energy(kcal)</td>
                    <td>Protein(g)</td>
                    <td>Animal Protein(g)</td>
                    <td>Lipid(g)</td>
                    <td>Unanimal Lipid(g)</td>
                    <td>Carbohydrate(g)</td>
                    <td style="min-width: 40px;"></td>
                </tr>
            </thead>
            <tbody>
                <!-- <tr class="text-center">
                    <td style="writing-mode: vertical-rl;" rowspan="1">6h-7h</td>
                    <td colspan="3"><input type="text" value="150" class="form-control form-control-title p-1" value="Cơm"></td>
                    <td colspan="6"></td>
                </tr> -->
                <!-- <tr>
                    <td>Bún</td>
                    <td><input type="number" value="150" class="form-control form-control-title p-1" onchange="changeWeightFood()"></td>
                    <td>150</td>
                    <td>Bánh phở</td>
                    <td>150</td>
                    <td>150</td>
                    <td>Gạo nếp</td>
                    <td>110</td>
                    <td style="cursor: pointer;" onclick="deleteFood()">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
                            <path d="M310.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L160 210.7 54.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L114.7 256 9.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 301.3 265.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L205.3 256 310.6 150.6z"/>
                        </svg>
                    </td>
                </tr> -->
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td colspan="2">Tổng số</td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
      </div>
    </div>

    <div class="row g-2 justify-content-center mt-0">
        <div class="col-6 col-md-auto">
          <button class="btn btn-primary box-btn w-100 text-uppercase" type="button" onclick="saveExamine()">
            <svg class="iconsvg-send-2 flex-shrink-0 fs-16px me-2">
              <use xlink:href="/public/content/images/sprite.svg#save"></use>
            </svg>Lưu
          </button>
        </div>
        <div class="col-6 col-md-auto">
            <button class="btn btn-primary box-btn w-100 text-uppercase" type="button" onclick="exportMenuExample()">
              <svg class="iconsvg-send-2 flex-shrink-0 fs-16px me-2">
                <use xlink:href="/public/content/images/sprite.svg#download"></use>
              </svg>Tải thực đơn
            </button>
        </div>
        <div class="col-6 col-md-auto">
          <button class="btn btn-cancel box-btn w-100 text-uppercase" type="button" onclick="returnList()">
            <svg class="iconsvg-close flex-shrink-0 fs-16px me-2">
            <use xlink:href="/public/content/images/sprite.svg#close"></use>
            </svg>Huỷ
          </button>
        </div>
      </div>
</form>
