<html lang="en">
   <head>
      <%- include('../layout/head') %>
      <title>Phiếu tư vấn dinh dưỡng</title>
    </head>
    <body>
        <% if (errors.length > 0){%>
        <div class="container-fluid">
        <div class="row gy-32px">
                <div class="alert-dismissable">
                    <div class="alert alert-danger">
                        <ul>
                            <% for (i = 0;i < errors.length;i++){%>
                                <li><%=errors[i]%></li>
                            <%}%>
                        </ul>
                    </div>
                </div>
        </div>
        </div>
        <% } else { %>
        <div class="container-fluid">
            <div class="row g-2 align-items-center">
                <div class="table-responsive-xl table-responsive-flush mb-4" id="tb_menu" style="width: 100%;">
                  <div class="table-responsive-inner"></div>
                  <table class="table-2 table table-pe-x-3 mb-0 align-middle table-ds-booking table-bordered table-hover">
                      <thead class="text-center">
                          <tr>
                              <td>Giờ ăn</td>
                              <td>Thực phẩm</td>
                              <td>Trọng lượng (g)</td>
                          </tr>
                      </thead>
                      <tbody>

                      </tbody>
                  </table>
                </div>
              </div>
        </div>
        <% } %>
   </body>
</html>