<div class="form-group row">
  <div class="col-md-3">
    <div class="label-wrapper">
      <label class="col-form-label flex-center">Tên loại xét nghiệm</label>
    </div>
  </div>
  <div class="col-md-9">
    <div class="input-group input-group-required">
      <input class="form-control text-box single-line" name="name" type="text" value="<%=medicalTestType.name%>">
      <div class="input-group-btn"><span class="required">*</span></div>
    </div>
  </div>
</div>