<div class="footer <%=footer_class%>" id="footer">
  <div class="container">
    <div class="row gx-30px gy-3 justify-content-center">
      <div class="col-xl-auto col-lg col-md-6">
        <div class="footer-item">
          <svg class="iconsvg-map-pin footer-item-icon">
            <use xlink:href="/public/content/images/sprite.svg#map-pin"></use>
          </svg>
          Level 20, Center Building, Hapulico Complex,
          <br>No.1 Nguyen Huy Tuong Street, Thanh Xuan District, Hanoi
        </div>
      </div>
      <div class="col-xl-auto col-lg col-md-6">
        <div class="footer-item">
          <svg class="iconsvg-contact-support footer-item-icon">
            <use xlink:href="/public/content/images/sprite.svg#contact-support"></use>
          </svg>
          Email: qdatvirgo@gmail.com
          <br>Hotline: 0989402893
        </div>
      </div>
      <div class="col-auto">
        <a class="btn btn-hotline rounded-pill fw-normal me-2" href="/lien-he" role="button">
          <span class="btn-icon me-2">
            <svg class="iconsvg-phone">
              <use xlink:href="/public/content/images/sprite.svg#phone"></use>
            </svg>
          </span>
          Liên hệ
        </a>
        <!-- <a class="btn btn-hotline rounded-pill fw-normal" href="/bao-gia" role="button">
          <span class="btn-icon bg-green me-2">
            <svg class="iconsvg-file">
              <use xlink:href="/public/content/images/sprite.svg#file"></use>
            </svg>
          </span>
          Báo giá
        </a> -->
      </div>
    </div>
  </div>
</div>
<div id="loading-page">
  <img src="/public/content/images/preloader.gif" title="Đang xử lý dữ liệu..." />Đang xử lý dữ liệu...
</div>
<div id="modal_confirm_box">
</div>