<div class="header-action-item header-notification">
  <!-- <a class="header-action-link dropdown-toggle" href="#" data-bs-toggle="dropdown" data-bs-auto-close="outside" data-bs-reference="parent" aria-expanded="false">
    <svg class="iconsvg-notification header-action-icon">
      <use xlink:href="/public/content/images/sprite.svg#notification"></use>
    </svg>
    <span class="badge bg-danger rounded-circle">3</span>
  </a>
  <div class="dropdown-menu dropdown-menu-end">
    <h3 class="mb-3">Thông báo</h3>
    <div class="row gx-2 align-items-center mb-2">
      <div class="col fs-16px fw-bold">Mới</div>
      <a class="col-auto link-primary" href="#">Đánh dấu đã xem tất cả</a>
    </div>
    <a class="dropdown-item row gx-3 new" href="#">
      <div class="col-auto px-0 me-2">
        <div class="symbol bg-primary">
          <svg class="iconsvg-user-2 header-action-icon">
            <use xlink:href="/public/content/images/sprite.svg#user-2"></use>
          </svg>
        </div>
      </div>
      <div class="col px-0">
        <p class="mb-1">Bài dựng mã <strong class="fs-16px">DB48EEKSKF đã đủ điều kiện đăng.</strong>
        </p>
        <div class="text-primary fs-sm">12/8/2022 | 09:44:19</div>
      </div>
    </a>
    <a class="dropdown-item row gx-3 new" href="#">
      <div class="col-auto px-0 me-2">
        <div class="symbol bg-orange">
          <svg class="iconsvg-user-2 header-action-icon">
            <use xlink:href="/public/content/images/sprite.svg#user-2"></use>
          </svg>
        </div>
      </div>
      <div class="col px-0">
        <p class="mb-1">Bài dựng mã <strong class="fs-16px">DB48EEKSKF đã đủ điều kiện đăng.</strong>
        </p>
        <div class="text-primary fs-sm">12/8/2022 | 09:44:19</div>
      </div>
    </a>
    <a class="dropdown-item row gx-3" href="#">
      <div class="col-auto px-0 me-2">
        <div class="symbol bg-blue1">
          <svg class="iconsvg-user-2 header-action-icon">
            <use xlink:href="/public/content/images/sprite.svg#user-2"></use>
          </svg>
        </div>
      </div>
      <div class="col px-0">
        <p class="mb-1">Bài dựng mã <strong class="fs-16px">DB48EEKSKF đã đủ điều kiện đăng.</strong>
        </p>
        <div class="text-primary fs-sm">12/8/2022 | 09:44:19</div>
      </div>
    </a>
    <a class="dropdown-item row gx-3" href="#">
      <div class="col-auto px-0 me-2">
        <div class="symbol bg-green1">
          <svg class="iconsvg-user-2 header-action-icon">
            <use xlink:href="/public/content/images/sprite.svg#user-2"></use>
          </svg>
        </div>
      </div>
      <div class="col px-0">
        <p class="mb-1">Bài dựng mã <strong class="fs-16px">DB48EEKSKF đã đủ điều kiện đăng.</strong>
        </p>
        <div class="text-primary fs-sm">12/8/2022 | 09:44:19</div>
      </div>
    </a>
    <div class="text-end mt-2">
      <a class="link-primary" href="#">Xem tất cả</a>
    </div>
  </div> -->
</div>