<div class="main-footer">
  <div class="container-fluid">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-4 col-xs-12 text-md-left text-center">Được hỗ trợ bởi <a href="https://dinhduonghotro.com/" target="_blank">Dinh dưỡng hỗ trợ</a></div>
        <div class="col-md-4 col-xs-12 text-center">Email: qdatvirgo@gmail.com - Điện thoại: 0989402893</div>
        <div class="col-md-4 col-xs-12 text-md-right text-center"><b>v.1.0.0</b></div>
      </div>
    </div>
  </div>
</div>
<a id="backTop" class="btn btn-back-top bg-teal" style="display: inline;"></a>
<div id="loading-page">
	<img src="/public/admin/images/preloader.gif" title="Đang xử lý dữ liệu..." />Đang xử lý dữ liệu...
</div>
<script>
$(document).ready(function() {
    $("#backTop").backTop();
    $('[data-toggle="tooltip"]').tooltip({
        placement: "bottom"
    })
})
</script>