<nav class="main-header navbar navbar-expand-md navbar-dark bg-dark">
   <ul class="navbar-nav pl-2 pl-md-0">
      <li class="nav-item">
         <a class="nav-link" id="nopSideBarPusher" data-widget="pushmenu" href="#">
            <i class="fa fa-bars"></i>
         </a>
   </ul>
   <a href="/admin" class="brand-link navbar-dark">
      <img src="/public/admin/images/logo3_transparent.png" class="brand-image logo d-block d-md-none d-sm-block d-sm-none"> 
   </a>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation"> 
      <span class=navbar-toggler-icon></span> 
   </button>
   <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto pl-2">
         <% if (user){%>
         <li class="nav-item"><a href="#" class="nav-link disabled"><%= user.name %></a></li>
         <li class="nav-item"><a class="nav-link" href="/user/logout">Logout</a></li>
         <%}%>
         <li class="nav-item"><a class="nav-link" href="/">Trang chủ</a></li>
      </ul>
   </div>
</nav>
<aside class="main-sidebar sidebar-dark-primary elevation-4">
   <a href="/admin" class="brand-link navbar-dark logo-switch"> 
      <img src="/public/admin/images/logo3_transparent.png" class="brand-image-xl logo-xl"> 
      <img src="/public/content/images/logo3-compact.png" class="brand-image-xs logo-xs"> 
   </a>
   <div class="sidebar">
      <nav class="mt-2">
         <ul id="admin-menu" class="nav nav-pills nav-sidebar flex-column nav-legacy" data-widget="treeview" role="menu">
            <% if(user){%>
               <li class="nav-item">
                  <a href="/admin" class="nav-link active">
                     <i class="nav-icon fas fa-desktop"></i>
                     <p>Trang admin</p>
                  </a>
               </li>
               <!-- Admin hoặc hệ thống -->
               <% if (user.role_id.includes(1) || user.role_id.includes(3) || user.role_id.includes(5) || user.role_id.includes(4)){%>
                  <% if (user.role_id.includes(1) || user.role_id.includes(3)){%>
                  <li class="nav-item">
                     <a href="/admin/role" class="nav-link">
                        <i class="nav-icon fas fa-cubes"></i>
                        <p>Quản lý quyền</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="/admin/user" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Quản lý người dùng</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="/admin/hospital" class="nav-link">
                        <i class="nav-icon far fa-hospital"></i>
                        <p>Quản lý bệnh viện</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="/admin/log" class="nav-link">
                        <i class="nav-icon fas fa-cube"></i>
                        <p>Nhật ký hoạt động</p>
                     </a>
                  </li>
                  <li class="nav-item">
                     <a href="/admin/setting" class="nav-link">
                        <i class="nav-icon fas fa-cogs"></i>
                        <p>Cài đặt</p>
                     </a>
                  </li>
                  <% } %>
                  <!-- Quản lý bệnh viện -->
                  <% if (user.role_id.includes(5) || user.role_id.includes(1) || user.role_id.includes(3) || user.role_id.includes(4)){%>
                     <% if (user.role_id.includes(5) || user.role_id.includes(1) || user.role_id.includes(3)){%>
                     <li class="nav-item">
                        <a href="/admin/department" class="nav-link">
                           <i class="fas fa-clinic-medical"></i>
                           <p>Quản lý khoa</p>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a href="/admin/medical-test-type" class="nav-link">
                           <i class="fas fa-vials"></i>
                           <p>Loại chỉ định xét nghiệm</p>
                        </a>
                     </li>
                     <li class="nav-item">
                        <a href="/admin/medical-test" class="nav-link">
                           <i class="fas fa-vial"></i>
                           <p>Chỉ định xét nghiệm</p>
                        </a>
                     </li>
                     <% } %>
                     <!-- Bác sĩ -->
                     <% if (user.role_id.includes(4) || user.role_id.includes(5) || user.role_id.includes(1) || user.role_id.includes(3)){%>
                        <li class="nav-item">
                           <a href="/admin/medicine" class="nav-link">
                              <i class="fas fa-capsules"></i>
                              <p>Quản lý thuốc</p>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="/admin/active-mode-of-living" class="nav-link">
                              <i class="fas fa-people-carry"></i>
                              <p>Chế độ vận động</p>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="/admin/menu-example" class="nav-link">
                              <i class="fas fa-utensils"></i>
                              <p>Thực đơn mẫu</p>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="/admin/nutrition-advice" class="nav-link">
                              <i class="fas fa-comment-medical"></i>
                              <p>Lời khuyên dinh dưỡng</p>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="/admin/diagnostic" class="nav-link">
                              <i class="fas fa-stethoscope"></i>
                              <p>Chuẩn đoán mẫu</p>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="/admin/standard_weight_height" class="nav-link">
                              <i class="fas fa-balance-scale"></i>
                              <p>CC - CN chuẩn</p>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="/admin/menu-time" class="nav-link">
                              <i class="far fa-clock"></i>
                              <p>Quản lý giờ ăn</p>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="/admin/alternative-food" class="nav-link">
                              <i class="fas fa-bread-slice"></i>
                              <p>Thực phẩm thay thế</p>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="/admin/food-type" class="nav-link">
                              <i class="fas fa-cookie-bite"></i>
                              <p>Loại thực phẩm</p>
                           </a>
                        </li>
                        <li class="nav-item">
                           <a href="/admin/food-info" class="nav-link">
                              <i class="fas fa-pizza-slice"></i>
                              <p>Thông tin thực phẩm</p>
                           </a>
                        </li>
                     <% } %>
                  <% } %>
               <% } %>
            <% } %>
         </ul>
      </nav>
   </div>
</aside>